<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>FoxClub</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta charset="utf-8" />
</head>
<body>

<div class="links">
    <ul>
        <li><a th:href="@{/login}">Login</a></li>
        <li th:if="${fox} != null"><a th:href="@{'/?name=' + ${fox.name}}">Information</a></li>
        <li th:if="${fox} != null"><a th:href="@{'/nutritionStore?name=' + ${fox.name}}">Nutrition Store</a></li>
        <li th:if="${fox} != null"><a th:href="@{'/trickCenter?name=' + ${fox.name}}">Trick Center</a></li>
        <li><a th:href="@{/login}">Action History</a></li>
    </ul>
</div>

<div>
    <form th:action="@{'/trickCenter?name=' + ${fox.name}}" th:method="post">
        <label for="tricks">Tricks</label>
        <select  name="selectedFood" id="tricks">
            <option th:each="trick : ${tricks}" th:value="${trick.name}" th:text="${trick.name}"></option>
        </select>
        <button type="submit">Learn</button>
    </form>
</div>

</body>
</html>