<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<h1>Add new Todo</h1>
<form th:action="@{/todo/add}" th:object="${newTodo}" method="post">
    <label>new todo</label>
    <input type="text" th:field="*{title}">
    <label>Urgent?</label>
    <input type="checkbox" th:field="*{urgent}">
    <button type="submit">Submit</button>
</form>

</body>
</html>
