<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<h1>TODOS FOR TODAY:</h1>
<div class="link">
    <a href="/todo/add">Add new todo</a>
</div>
<table>
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>DONE</th>
        <th>URGENT</th>
    </tr>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.done}"></td>
        <td th:text="${todo.urgent}"></td>
        <td><a th:href="@{|/todo/${todo.id}/delete|}">delete</a></td>
    </tr>
</table>

</body>
</html>