<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<ul>
    <li><a href="#">Information</a></li>
</ul><br>
<img th:src="@{/images/greenfox.png}"><br>
<p>This is Mr. Fox. Currently living on pizza and lemonade. He knows 2 tricks.</p>
<h1>Known tricks</h1>
<ul>
    <li><a href="#">write HTML</a></li>
    <li><a href="#">code in Java</a></li>
</ul>
</body>
</html>