<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<ul>
    <li><a href="/">Information</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/nutritionStore">Nutrition Store</a></li>
    <li><a href="/trickCenter">Trick Center</a></li>
    <li><a href="/actionHistory">Action History</a></li>
</ul><br>
<img th:src="@{/images/greenfox.png}"><br>
<div th:if="${selectedFox} != null" th:object="${selectedFox}">
<p>This is <span th:text="*{name}"></span>. Currently living on
    <span th:text="*{food.name}"></span> and <span th:text="*{drink.name}"></span>. He
    knows 2 tricks
    .</p>
</div>
<h1>Known tricks</h1>
<ul>
    <li><a href="#"></a></li>
</ul>
</body>
</html>