<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<ul>
    <li><a href="/">Information</a></li>
    <li><a href="/nutritionStore">Nutrition Store</a></li>
    <li><a href="/trickCenter">Trick Center</a></li>
    <li><a href="/actionHistory">Action History</a></li>
</ul>
<form action="">
    <label for="food">Food</label>
    <select field="" id="food">
        <option value="" text=""></option>
    </select>
    <label for="drink">Food</label>
    <select field="" id="drink">
        <option value="" text=""></option>
    </select>
    <button type="submit">Change</button>
</form>
</body>
</html>