<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/style.css">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="h1-container">
        <a id="webshop" href="/webshop">My Shop</a>
        <a id="more" href="/more-filters">More >></a>
    </div>
    <div class="flex-container">
        <a href="/only-available">ONLY AVAILABLE</a>
        <a href="/cheapest-first">CHEAPEST FIRST</a>
        <a href="/contains-nike">CONTAINS NIKE</a>
        <a href="/average-stock">AVERAGE STOCK</a>
        <a href="/most-expensive">MOST EXPENSIVE AVAILABLE</a>
    </div>
    <form action="/search" method="post">
        <legend>Search for:</legend>
        <input type="text" name="search" placeholder="..something like nike" autofocus>
        <input type="submit" value="Search">
    </form>
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity of stock</th>
        </tr>
        <tr class="items" th:each="item: ${items}">
            <td id="name" th:text="${item.getName()}"></td>
            <td id="type" th:text="${item.getType()}"></td>
            <td id="description" th:text="${item.getDescription()}"></td>
            <td id="price" th:text="${item.getPrice()} + ' Kc'"></td>
            <td id="qty" th:text="${item.getQuantityOfStock()}"></td>
        </tr>
    </table>

</body>
</html>