<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>The Reddit clone</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<div class="login">
    <a href="/login">Login</a>
</div>

<a href="/submit">Submit new post</a>
<h1>Trending posts</h1>

<div class="posts">
    <table>
        <tr th:each="post : ${posts}">
            <td th:text="${post.votes}">votes</td>
            <td><a th:href="@{|voting/${post.id}/+|}">+</a></td>
            <td><a th:href="@{|voting/${post.id}/-|}">-</a></td>
            <td><a th:href="${post.url}" th:text="${post.title}">post title</a></td>
            <td th:text="${post.date}">timestamp</td>
            <td>user</td>
        </tr>
    </table>
</div>

</body>
</html>
