<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Submit a new post</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta charset="utf-8" />
</head>
<body>

<h1>Submit a new post</h1>

<div class="newpost">
    <form th:action="@{/submit}" th:object="${new_post}" method="post">
        <p>Title: <input type="text" th:field="*{title}" /></p>
        <p>URL: <input type="text" th:field="*{url}" /></p>
        <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>